body{
  /* background-color : #CCCCCC; */
  background-image: url(../images/dot.png);
  background-repeat: no-repeat;
  background-position: left;
}

h2{
  background-color : #4587BD;

  /* border-style: solid;
  border-color: #E2B483;
  border-width: 10px; */

  border: 10px #E2B483 solid;

  color: #FFF;
}
